{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen">
	<link href="{% static 'style.css' %}" rel="stylesheet" media="screen">
	<title>MyContructLDA</title>
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top text-center" role="navigation">
    <div class="col-md-3" >
      <a href="/"><img src="{% static "images/logo.png" %}" height="90"  ></a>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-5">
    {% if user.is_authenticated %}
        <a class="navbar-text navbar-right" href="{% url 'profile' user.username %}">Benvindo ao MyContructLDA, {{ user.username }}</a>
        <a class="navbar-text navbar-right" href="{% url 'Logout' %}">Logout</a>
    {% else %}
        <a class="navbar-text navbar-right" href="{% url 'Login' %}">Login</a>
    {% endif %}
    </div>
  </nav>
 <div id='cssmenu'>
    <ul>
      <li class='active'><a href='/'>Home</a></li>
      <li><a href="{% url 'projetos' %}">Projetos</a></li>
      <li><a href='#'>Quem somos</a></li>
      <li><a href='#'>Contatos</a></li>
      <li><a href='#'>Parcerias</a></li>
    </ul>
 </div>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

  <footer class="footer container text-center" role="contentinfo">
  <div class="row">
    <div class="col-md-4">
     Facebook
    </div>
    <div class="col-md-4">
     Contatos
     <p style="font-size:12px">Email: blabla@blabla.com</p>
    </div>
    <div class="col-md-4">
     Facebook
    </div>

  </div>
       © MyContructLDA 2018
</footer>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
