{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


  <div class="treasure panel panel-default">

    <div class="panel-heading">
          <h3 class="panel-title">{{ treasure.descricao }}</h3>
          <!--<a class="panel-username" href="/user/{{treasure.user.username}}/">by: {{ treasure.user.username }}</a>-->
        </div>

    <div class="panel-body">
      <div class="treasure-photo-detail">
        <img src="{{ projeto.imagem.url }}" height="200">
      </div>
      <table class="treasure-table">
        <tr>
          <th>
          
            Distrito:
          </th>
          <td>{{ projeto.distrito }}</td>

        </tr>
        <tr>
          <th>
           
            Estilo:
          </th>
          <td>${{ projeto.estilo }}</td>
        </tr>
        <tr>
          <th>
            
            Divisão:
          </th>
          <td>{{ projeto.divisao }}</td>
        </tr>
                <tr>
          <th>
            
            Data de registo:
          </th>
          <td>{{ projeto.data_registo }}</td>
        </tr>
      </table>

      <button id ="likes" data-id="{{projeto.id}}" class="btn btn-mini btn-danger glyphicon glyphicon-heart" type="button">
            {% if projeto.likes > 0 %} {{ projeto.likes }} {% endif %}
          </button>
    </div>

  </div>


{% endblock %}
