{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


  <h1>Perfil de Admin {{ username }}</h1><br>
  {% for pedido in pedidos|dictsort:'created_at' %}
        <div class="row">
            <div class="col-md-8">
            <a>
            <div class="treasure panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ pedido.categoria }}</h2>
                </div>
                <div class="panel-body">
                    <div class="treasure-photo">
                        <p>Código Postal: {{pedido.cod_postal}}</p>
                        <p>Estilo: {{pedido.estilo}}</p>
                        <p>Descrição: {{pedido.descricao}}</p>
                    </div>
                </div>
                <div class="panel-heading">
                    <p>Inserido em: {{ pedido.created_at|date:'d-m-Y, H:m' }}</p>
                </div>
            </div>
        </a>
    </div>
        </div>
  {%endfor%}

  {% if pedidos.has_other_pages %}
  <ul class="pagination">
    {% if pedidos.has_previous %}
      <li><a href="?page={{ pedidos.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in pedidos.paginator.page_range %}
      {% if pedidos.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if pedidos.has_next %}
      <li><a href="?page={{ pedidos.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}