{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row" style="margin:3%">
    <h3>Projetos</h3>
</div>

<div class="row">
    <div class="col-md-3">
  <form method="get">
    <strong><p>Filtro de Pesquisa:</p></strong>
    <table class="tabela">
    {{ filter.form.as_table}}
    <tr>
        <td>
            <button type="submit">Pesquisar</button>
        </td>
    </tr>
    </table>
  </form>
    </div>
    {% for projeto in object_list|dictsort:'created_at' %}
    <div class="col-md-3">
        
            <div class="treasure panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ projeto.titulo }}</h2>
                </div>
                <div class="panel-body">
                    <div class="treasure-photo">
                     <a href="{% url 'detail' projeto.slug %}">   <img src="{{ projeto.imagem.url }}" alt="" height="250px" />   </a>
                    </div>
                </div>
                <div class="panel-heading">
                    <p>Inserido em: {{ projeto.created_at|date:'d-m-Y, H:m' }}</p>
                              <button id="likes" data-id="{{projeto.id}}" class="btn btn-mini btn-danger glyphicon glyphicon-heart" type="button">
                                {% if projeto.likes > 0 %} {{ projeto.likes }} {% endif %}
                              </button>
                </div>
  
            </div>
     
    </div>
        {% empty %}
        <p style="color:red;margin-left:30px">Sem resultados para apresentar.</p>
    {% endfor %}
</div>

<!--<div class="tracker panel panel-default">
    <form enctype="multipart/form-data" action="post_treasure/" method="post">
       {% csrf_token %} 
       {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Submit"/>
    </form>
</div>-->
<div class="row">
  <div class="col-md-4">
  </div>
   <div class="col-md-4">


  </div>
    <div class="col-md-4">
      <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"><</a>
        {% endif %}

        <span class="current">
          Página {{ page_obj.number }} de {{ paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">></a>
        {% endif %}
      </span>
    </div>
  </div>
</div>

{% endblock %}
